@CHARSET "ISO-8859-1";
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}
.navbar-inverse{
	border-color: transparent;
	background-color: #0ddef1;
}
.navbar-inverse .navbar-nav>li>a{
	color: #f9f6f6
}
.navbar-inverse .navbar-nav>li>a:HOVER{
	color: black;
}
.navbar-brand {
	padding: 0px 15px;
}
.navbar-brand>img {
	width: 50px;
	height: 50px;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 700px
	
}

/* Set gray background color and 100% height */
.sidenav {
	padding-top: 20px;
	background-color: #f1f1f1;
	height: 100%;
}

/* Set black background color, white text and some padding */
footer {
	background-color: #0ddef1;
	color: white;
	padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}
.dropdown-menu {
	padding: 0px;
}
.dropdown-menu > .active > a {
	background-color: #9d9d9d;
}